<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="eyezat.css">
  <script type="text/javascript" src="eyezat.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAf6-XZy-fFLkRLWNDmril1v_pM9AQv_Rc&sensor=false">
  </script>
</head>

<body onload="initialize()">

<div id="content">
  <div id="logo">
		<a href="/" title="eyez.at home" rel="home">eyez.at</a>
	</div>

  <div id="info">
    <span id="coords">
    	<span id="latitude"><%= @coordinates[ :latitude ] %></span> lat,
    	<span id="longitude"><%= @coordinates[ :longitude ] %></span> long
    </span>

    <span id="permalink">
      <% if @link == '' %>
      <span id="link"></span>
      <% else %>
      <span id="link"><a href="/<%= @link %>">eyez.at/<%= @link %></a></span>
      <a href="http://maps.google.com/maps?daddr=<%= @coordinates[ :latitude ] %>,<%= @coordinates[ :longitude ] %>">Directions</a>
      <% end %>
    </span>


  <div data-zoom="<%= @map_zoom %>" id="map_canvas"></div>

  </div>
</div>

</body>
</html>